@model ProductsListViewModel
@{
    ViewData["Title"] = "Katalog";
    Layout = "_CatalogLayout";
}

@if (Model.Category == null)
{
    <h2>Katalog</h2>
    <hr />
}
else
{
    <h2>Katalog - @Model.Category.Name</h2>
    <hr />
}

<form asp-action="SetPageSize" asp-controller="Catalog" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()" method="post" class="col-2 form-inline" style="margin-bottom: 10px;">
    @Html.AntiForgeryToken()
    <input hidden asp-for="@Model.Category.Id" />
    <div class="form-group">
        <label class="col-form-label-sm">Ilość na stronę </label>
        <select asp-for="@Model.PagingInfo.ItemsPerPage" class="form-control" style="margin-left: 10px;" onchange="this.form.submit()">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
</form>


@foreach (var product in Model.Products)
{
    <partial name="_ProductCardPartial" model="@product" />
}

@if (Model.Category != null)
{
    <div page-model="@Model.PagingInfo" page-action="Index" asp-controller="Catalog" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-light" page-class-selected="btn-primary" class="btn-group m-1"
         style="border:1px solid silver; border-radius:5px;" page-url-categoryId="@Model.Category.Id"></div>
}
else
{
    <div page-model="@Model.PagingInfo" page-action="Index" asp-controller="Catalog" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-light" page-class-selected="btn-primary" class="btn-group m-1"
         style="border:1px solid silver; border-radius:5px;"></div>
}